{% extends 'login/layout.html.twig' %}
{% block body %}
    <title>{% block title %}Log in{% endblock %}</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;">
        <a class="navbar-brand" href="#">Mega Blog</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="{{ path('login') }}">Login</a></li>
            <li><a class="nav-link" href="{{ path('registration') }}">Registration</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="">
                    <div class="card bg-light mb-3 mt-5" style="width: 800px;">
                        <div class="card-body">
                            <form class="form-horizontal" role="form" method="post">

                                {% if error %}
                                    {% if error.message is defined %}
                                        <div class="error">{{ error.message }}</div>
                                    {% else %}
                                        <div class="error">{{ error }}</div>
                                    {% endif %}
                                {% endif %}

                                <div class="card-header mb-3">Log in to your account</div>
                                <div class="form-group">
                                    <label for="email" class="col-md-4 control-label">Email</label>
                                    <div class="col-md-12">
                                        <input id="inputEmail" type="email" class="form-control" name="_username"
                                               value="{{ last_username }}" placeholder="Email" autofocus/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-4 control-label">Password</label>
                                    <div class="col-md-12">
                                        <input id="inputPassword" type="password" class="form-control" name="_password"
                                               placeholder="Password"/>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-btn fa-sign-in"></i>Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
