<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}Mega Blog{% endblock %}</title>
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('app/css/blog.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('f.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a class="nav-link" href="{{ path('blog') }}">View List</a></li>
                        <li><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block blog_title %}<a href="{{ path('blog') }}">Mega Blog</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="{{ path('blog') }}">creating a blog in Symfony6</a>{% endblock %}</h3>
        </hgroup>
    </header>

    <section class="main-col">
        {% block body %}
            {% for post in posts %}
                <article class="post">
                    <div class="date"><time datetime="{{ post.createdAt|date('c') }}">{{ post.createdAt|date('l, F j, Y') }}</time></div>
                <a href="{{ path('post_view', {'slug': post.slug}) }}"> <p> {{ post.title }} <p> </a>
                <div class="snippet">
                    <p>{{ post.body(500) }}</p>
                    <p class="continue"><a href="{{ path('post_view', {'slug': post.slug}) }}">Continue reading...</a></p>
                </div>
                <p>Posted by <span class="highlight">{{post.author.name}}</span> at {{ post.createdAt|date('h:iA') }}</p>
                <br>
                </article>
            {% else %}
                <p>There are no blog post yet</p>
            {% endfor %}
        {% endblock %}
    </section>
{#    <aside class="sidebar">#}
{#        {% block sidebar %}#}
{#            {% for post in posts %}#}
{#                <p>{{ post.body }} </p>#}
{#            {% endfor %}#}
{#        {% endblock %}#}
{#    </aside>#}

    <div id="footer">
        {% block footer %}
            Symfony6 blog
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>