{% extends 'blog/main.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="date">
                <time datetime="{{ post.createdAt|date('c') }}">{{ post.createdAt|date('l, F j, Y') }}</time>
            </div>
            <h2>{{ post.title }}</h2>
        </header>
        <div>
            <p>{{ post.body }}</p>
        </div>
        <p>Posted by <span class="highlight">{{ post.author.name }}</span> at {{ post.createdAt|date('h:iA') }}</p>
    </article>
{% endblock %}
