<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('app/css/login-form.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('app/img/f.ico') }}">
<body>


<main>
    <div class="form-block">
        <div class="logo">
            <span style="color: #8C8C8C;">Mega Blog</span>
        </div>
        <form action="{{ path('login') }}" method="post">
            <div class="form-title">Log in to your account</div>
            {% if error %}
                {% if error.message is defined %}
                    <div class="error">{{ error.message }}</div>
                {% else %}
                    <div class="error">{{ error }}</div>
                {% endif %}
            {% endif %}
            <div class="username">
                <img src="{{ asset('app/img/icons/user.svg') }}">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email"/>
            </div>
            <div class="password">
                <img src="{{ asset('app/img/icons/unlock.svg') }}">
                <input type="password" id="password" name="_password" placeholder="Password"/>
            </div>
            <button type="submit">Log in</button>
        </form>
    </div>

</main>
</body>
</html>
